
a {
    background-color: lightblue;
    color : #000000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

a:hover{
    background-color: darkgray;
    color: white;
}
nav {
    display: flex;
    justify-content: center;
}